.inspire_container {
  display: flex;
  align-items: center;
  height: 890px;
  background: #f8f8f8;
  margin: 0 2%;
  @media (max-width: 1366px) {
    margin: 0 2.5%;
  }
  @media (max-width: 1024px) {
    height: 500px;
  }
  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: flex-start;
    align-self: start;
    height: 1100px;
    margin: 0;
  }
  @media (max-width: 576px) {
    height: 772px;
    padding-top: 5rem;
    padding-bottom: 3rem;
  }
  .inspire_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media (max-width: 1024px) {
      align-items: flex-start;
    }
    @media (max-width: 768px) {
      padding-top: 2rem;
    }
    @media (max-width: 576px) {
      width: 90%;
      padding-top: 0;
    }
    .img {
      width: 50px;
      margin-bottom: 6px;
    }
    .inspire_text {
      width: 389px;
      @media (max-width: 576px) {
        width: 100%;
      }
    }
    .text_wrapper {
      margin-bottom: 7rem;
      @media (max-width: 1366px) {
        .inspire_image {
          width: 600px;
        }
        margin-right: 5rem;
      }
      @media (max-width: 1024px) {
        margin-left: 73px;
      }
      @media (max-width: 768px) {
        padding-left: 1.5rem;
        margin-bottom: 0;
      }
      @media (max-width: 576px) {
        padding-left: 0;
        width: 100%;
        margin-left: 0;
      }
    }
    .inspire_image {
      @media (max-width: 1366px) {
        width: 600px;
      }
      @media (max-width: 1024px) {
        width: 462px;
      }
      @media (max-width: 768px) {
        margin-top: 28rem;
        width: 100%;
      }
      @media (max-width: 576px) {
        margin-top: 26.5rem;
      }
    }
  }
  .translating_wrapper {
    width: 506px;
    margin-left: 250px;
    margin-bottom: 44rem;
    @media (max-width: 1366px) {
      margin-left: 112px;
    }
    @media (max-width: 1024px) {
      margin-left: -15px;
    }
    @media (max-width: 768px) {
      width: 80%;
      margin-top: -49.5rem;
      margin-left: 4.5rem;
      padding-left: 2rem;
    }
    @media (max-width: 576px) {
      width: 90%;
      margin-top: -39rem;
      margin-left: 0;
      padding-left: 0;
    }
    .my_skills {
      font-family: "Roboto-LightItalic";
      font-size: 20px;
      text-decoration: underline;
    }
  }
}
