.skills_container {
  width: 100%;
  box-sizing: border-box;
  height: 100vh;
  padding: 2% 2% 0 2%;
  @media (max-width: 1366px) {
    padding: 2% 2.5% 0 2.5%;
  }
  @media (max-width: 768px) {
    padding: 0;
  }
  .skills_container_wrapper {
    display: flex;
    height: 92vh;
    overflow: hidden;
    @media (max-width: 1366px) {
      height: 100vh;
    }
    @media (max-width: 576px) {
      flex-direction: column;
    }
    .skills_first {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 25%;
      background: #f8f8f8;
      @media (max-width: 576px) {
        height: 50%;
      }
      .skills_text {
        position: absolute;
        left: 70.3%;
        top: 22%;
        font-family: "Gilroy-ExtraBold";
        font-size: 100px;
        @media (max-width: 1366px) {
          left: 58%;
        }
        @media (max-width: 1024px) {
          left: 44%;
        }
        @media (max-width: 768px) {
          left: 29.8%;
          top: 22%;
        }
        @media (max-width: 576px) {
          left: 15.8%;
          top: auto;
          bottom: -3.5rem;
          margin: 0 auto;
        }
      }
      @media (max-width: 576px) {
        width: 100%;
      }
    }
    .skills_last {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 85%;
      background: #ffb400;
      @media (max-width: 576px) {
        // width: 50%;
      }
      .info_wrapper {
        margin-left: 14rem;
        width: 50%;
        @media (max-width: 1366px) {
          margin-left: 10rem;
          width: 64%;
        }
        // @media (max-width: 1024px) {
        //   width: 55%;
        //   left: 201px;
        //   top: 45%;
        // }
        @media (max-width: 768px) {
          margin-left: 8rem;
          margin-top: 4rem;
          width: 90%;
        }
        @media (max-width: 576px) {
          margin-left: 2rem;
          margin-top: -4rem;
        }
        span {
          display: flex;
          .dob {
            font-family: "Gilroy-Light";
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            padding-left: 1.5rem;
            color: #000;
          }
        }
        h2 {
          margin-bottom: 0;
          font-size: 35px;
          font-family: "Gilroy-ExtraBold";
          @media (max-width: 576px) {
            font-size: 25px;
          }
        }
        p {
          margin: 0;
          font-size: 35px;
          color: #fff;
          font-family: "Gilroy-ExtraBold";
          @media (max-width: 576px) {
            font-size: 20px;
          }
        }
      }
      @media (max-width: 576px) {
        width: 100%;
        height: 420px;
      }
    }
  }
}
