@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../../assets/font/Gilroy-ExtraBold.otf");
}
@font-face {
  font-family: "Gilroy-Light";
  src: url("../../assets/font/Gilroy-Light.otf");
}
.w-8 {
  width: 8%;
}
.w-98 {
  width: 98%;
  @media (max-width: 768px) {
    width: 100%;
  }
}
.side_bar {
  .sidebar_background {
    background: #1ee0cd;
    width: 100%;
    height: 96vh;
  }
  .yellow {
    background: #ffb400;
  }
  z-index: 2;
  overflow: hidden;
  position: fixed;
  height: 100%;
  .hamburger,
  .hamburger_hover {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    visibility: visible;
    cursor: pointer;
    position: fixed;
    top: 45%;
    left: 18px;
    @media (max-width: 1024px) {
      left: 2px;
    }
    @media (max-width: 768px) {
      top: 3%;
      left: 89%;
    }
    @media (max-width: 576px) {
      left: 84%;
    }
    @media (max-width: 768px) {
      .mobile_menu {
        background-color: #fff;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        display: flex;
        justify-content: center;
        align-items: center;
        .menu_icon {
          width: 25px;
        }
      }
    }
    display: flex;
    .menu_text {
      width: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.5rem;
      transform: rotate(-90deg);
      p {
        font-family: "Gilroy-ExtraBold";
        margin: 2px;
        transition: 0.3s;
      }
      @media (max-width: 768px) {
        display: none;
      }
    }
    @media (max-width: 768px) {
      .mobile_menu_exit {
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 50%;
      }
    }
    .exit {
      width: 30px;
      padding-left: 3rem;
      position: absolute;
      top: -50px;
      @media (max-width: 768px) {
        padding: 12px;
        width: 16px;
        top: 0;
      }
    }
    &:hover {
      .m {
        padding-bottom: 0.5rem;
      }
      .e {
        padding-top: 0.5rem;
      }
      .n {
        padding-bottom: 0.5rem;
      }
      .u {
        padding-top: 0.5rem;
      }
      .side_bar {
        background-color: #fff;
      }
    }
  }
  .sidebar_links {
    @media (max-width: 1366px) {
      top: 10%;
    }
    @media (max-width: 1024px) {
      padding-left: 13rem;
    }
    @media (max-width: 768px) {
      padding-left: 5.5rem;
    }
    @media (max-width: 576px) {
      padding-left: 45px;
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 25rem;
    position: relative;
    top: 200px;
    .nav_link {
      font-family: "Gilroy-ExtraBold";
      list-style-type: none;
      padding: 10px;
      height: 50px;
      font-weight: 800;
      a {
        font-size: 35px;
        color: #000000;
        text-decoration: none;
        @media (max-width: 576px) {
          font-size: 30px;
        }
      }
    }
    .skills_link,
    .home_link,
    .my_work_link,
    .contact_link {
      transition: 0.2s ease-in-out;
      &:hover {
        font-size: 37px;
      }
    }
  }
  .breifMe {
    @media (max-width: 576px) {
      display: none;
    }
  }
  .social_icons {
    display: none;
    @media (max-width: 576px) {
      padding: 10px 8px;
      display: flex;
    }
    a {
      img {
        padding: 4px;
        width: 20px;
      }
    }
  }
  .sidebar_info {
    @media (max-width: 768px) {
      margin-top: 1rem;
    }
  }
}
.hamburger:hover ~ .menu {
  background-color: #fff;
  width: 120px;
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
  @media (max-width: 768px) {
    opacity: 0;
    visibility: hidden;
  }
}
.menu {
  background: #fff;
  height: 100vh;
  width: 0;
  margin-top: -16px;
  transition: 0.4s ease-in-out;
}

.active {
  width: 90%;
  @media (max-width: 768px) {
    margin-top: -16px;
    width: 84%;
  }
  @media (max-width: 576px) {
    width: 78%;
  }
  height: 100vh;
  opacity: 1;
  visibility: visible;
  transition: all 0.25s ease;
  transform: translateX(0);
}
