@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../../assets/font/Gilroy-ExtraBold.otf");
}
@font-face {
  font-family: "Gilroy-Light";
  src: url("../../assets/font/Gilroy-Light.otf");
}
.side_bar {
  z-index: 2;
  width: 90%;
  overflow: hidden;
  position: fixed;
  height: 100%;
  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;
    position: fixed;
    top: 45%;
    left: 18px;
    @media (max-width: 1024px) {
      left: 2px;
    }
    @media (max-width: 768px) {
      top: 3%;
      left: 89%;
    }
    @media (max-width: 576px) {
      left: 84%;
    }
    @media (max-width: 768px) {
      .mobile_menu {
        background-color: #fff;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        display: flex;
        justify-content: center;
        align-items: center;
        .menu_icon {
          width: 25px;
        }
      }
    }
    display: flex;
    .menu_text {
      width: 12px;
      padding-left: 30px;
      @media (max-width: 768px) {
        display: none;
      }
    }
    @media (max-width: 768px) {
      .mobile_menu_exit {
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 50%;
      }
    }
    .exit {
      width: 30px;
      padding-left: 3rem;
      @media (max-width: 768px) {
        padding: 12px;
        width: 16px;
      }
    }
  }
  .sidebar_links {
    @media (max-width: 1024px) {
      padding-left: 13rem;
    }
    @media (max-width: 768px) {
      padding-left: 5.5rem;
    }
    @media (max-width: 576px) {
      padding-left: 45px;
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 25rem;
    position: relative;
    top: 200px;
    .nav_link {
      font-family: "Gilroy-ExtraBold";
      list-style-type: none;
      padding: 12px;
      font-weight: 800;
      a {
        font-size: 35px;
        color: #000000;
        text-decoration: none;
        @media (max-width: 576px) {
          font-size: 30px;
        }
      }
    }
    .skills_link:before {
      content: "";
      position: absolute;
      z-index: -1;
      margin-right: 64.3rem;
      left: 400px;
      top: 25px;
      right: 100%;
      bottom: -5px;
      background: #ffb3009c;
      height: 16px;
      transition-duration: 0.6s;
    }
    .home_link:before {
      content: "";
      position: absolute;
      z-index: -1;
      margin-right: 63.6rem;
      left: 400px;
      top: 93px;
      right: 100%;
      bottom: -5px;
      background: #3fb9c29d;
      height: 16px;
      transition-duration: 0.6s;
    }
    .my_work_link:before {
      content: "";
      position: absolute;
      z-index: -1;
      margin-right: 60.6rem;
      left: 400px;
      top: 160px;
      right: 100%;
      bottom: -5px;
      background: #414a6b7a;
      height: 16px;
      transition-duration: 0.6s;
    }
    .contact_link:before {
      content: "";
      position: absolute;
      z-index: -1;
      margin-right: 61rem;
      left: 400px;
      top: 226px;
      right: 100%;
      bottom: -5px;
      background: #df171781;
      height: 16px;
      transition-duration: 0.6s;
    }
    .skills_link,
    .home_link,
    .my_work_link,
    .contact_link {
      &:hover {
        &:before {
          right: 0;
        }
      }
    }
  }
  .breifMe {
    @media (max-width: 576px) {
      display: none;
    }
  }
  .social_icons {
    display: none;
    @media (max-width: 576px) {
      padding: 10px 8px;
      display: flex;
    }
    a {
      img {
        padding: 4px;
        width: 20px;
      }
    }
  }
  .sidebar_info {
    @media (max-width: 768px) {
      margin-top: 1rem;
    }
  }
}

.menu {
  background: #fff;
  height: 100vh;
  width: 120px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease;
  transform: translateX(-50%);
}

.active {
  width: 90%;
  @media (max-width: 768px) {
    margin-top: -16px;
    width: 93%;
  }
  @media (max-width: 576px) {
    width: 87%;
  }
  height: 100%;
  opacity: 1;
  visibility: visible;
  transition: all 0.25s ease;
  transform: translateX(0);
}
